<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" media="screen"/> 
	<title>Form - UserAPI</title>
</head>
<body>
	<div class="container">
		<a th:href="@{/user/home}"><img class="setaImage" th:src="@{/images/seta-esquerda.png}" tal="Uma seta"/></a>
		<div class="left">
			<h1>Sing up</h1>

			<form action="#" th:action="@{/user/save}" th:object="${user}" method="POST" class="form-container">
				
				<input type="text" th:field="*{name}" id="name" placeholder="Name" class="inputs"/> <br />
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				
				<input type="email" th:field="*{email}" id="email" placeholder="E-mail" class="inputs"/> <br />
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				
				<input type="text" th:field="*{password}" id="password" placeholder="Password" class="inputs"/> <br />
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				
				<input type="submit" value="Save" class="button"/>
			</form>
		</div>
		
		<div class="right">
			<img class="formImage" th:src="@{/images/form.svg}" tal="A form image"/>
		</div>
	</div>
</body>
</html>