<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home - UserAPI</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen"/>
</head>
<body>
	<div class="container">
		<div class="left">
			<h2 class="title">Welcome to my CRUD about users!</h2> <br />
			
			<a class="link" th:href="@{/user/form}">Sign in</a> <br />
			<a class="link" th:href="@{/user/list}">Users</a>
		</div>
		<div class="right">
			<img class="computerImage" th:src="@{/images/WebDeveloper.svg}" alt="Image of a computer!" />
		</div>
	</div>
	<script th:src="@{/javascript/script.js}"></script>
</body>
</html>